<div class="container mt-5 col-md-6 offset-md-3">
    <div class="text-center mb-4">
        <h1 class="text-center">Inscription</h1>
        <small>Veuillez remplir le formulaire pour créer un compte.</small>
    </div>
    <form (submit)="onSubmit($event)">
        <div class="row">
            <div class="form-group col">
                <label for="firstName" class="col-sm-2 col-form-label">Prénom</label>
                <div class="col-sm-10">
                    <input
                        id="firstName"
                        type="text"
                        placeholder="prénom"
                        [field]="registerForm.firstName"
                        class="form-control col-sm-10"
                    />
                </div>
            </div>
            <div class="form-group col">
                <label for="lastName" class="col-sm-2 col-form-label">Nom</label>
                <div class="col-sm-10">
                    <input
                        type="text"
                        id="lastName"
                        placeholder="Nom"
                        [field]="registerForm.lastName"
                        class="form-control"
                    />
                </div>
            </div>
        </div>
        
        <div class="form-group mt-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input
                    id="email"
                    type="email"
                    placeholder="email@gmail.com"
                    [field]="registerForm.email"
                    class="form-control"
                />
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="form-group col">
                <label for="password" class="col-sm-5 col-form-label">Mot de passe</label>
                <div class="col-sm-10">
                    <input 
                        id="password"
                        type="new-password"
                        placeholder="*********"
                        [field]="registerForm.password"
                        class="form-control"
                    />
                </div>
            </div>
            <div class="form-group col">
                <label for="passwordConfirm" class="col-sm-5 col-form-label">Confirmer le mot de passe</label>
                <div class="col-sm-10">
                    <input 
                        id="passwordConfirm"
                        type="new-password"
                        placeholder="*********"
                        [field]="registerForm.passwordConfirm"
                        class="form-control"
                    />
                </div>
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="dateOfBirth" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
                <input 
                    id="dateOfBirth"
                    type="date"
                    [field]="registerForm.dateOfBirth"
                    class="form-control"
                />
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="phoneNumber" class="col-sm-2 col-form-label">Numéro de téléphone</label>
            <div class="col-sm-10">
                <input
                    id="phoneNumber"
                    type="tel"
                    placeholder="0234567891"
                    [field]="registerForm.phoneNumber"
                    class="form-control"
                />
            </div>
        </div>
        <button type="submit" class="btn btn- mt-3" [disabled]="registerForm().invalid()">S'inscrire</button>
    </form>
</div>